.celerita {
    background-color: white;
    color: brown;
    font-size: 24px;
    font-family: Verdana, "Times New Roman", sans-serif ;
}

.mojito {
    background-color: white;
    color: yellowgreen;
    font-size: 24px;
    font-family: Verdana, "Times New Roman", sans-serif;
}

.pesto {
    background-color: white;
    color: green;
    font-size: 24px;
    font-family: Verdana, "Times New Roman", sans-serif;
}